::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: blueviolet; 
  border-radius: 15px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 15px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.message-username {
  color: white;
  padding: 3px;
}

.message-text {
  padding: 5px;
  border-radius: 5px;
  background: black;
  color: #fff;
  margin-bottom: 3px;
  font-size: 1.2vw;
  display: inline-block;
  margin-left: 10px;
}

.group-list {
  background: rgb(26, 23, 23);
  padding: 15px 0 0 5px; 
  color: white;
  margin-bottom: 10px;
  margin: 5px 0 5px 5px;
  border-radius: 3px;
}

.group-list .group-list-title {
  text-align: center;

}

.message-list {
  padding: 15px 0 0 15px;
  border: 1px solid #b0cdef;
  margin: 5px 10px 10px 10px;
  border-radius: 2px;
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
  /* background: url("https://maxeseg.com/css/../images/mob.jpg") top center no-repeat; */
  /* background: url("https://maxeseg.com/css/../images/why-bg.png") bottom center no-repeat; */
  background: url("https://maxeseg.com/maxes-2019/img/careers/Careers3.jpg");
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll
  /* box-shadow: 20px 20px 2px 2px rgba(102, 51, 153, 0.418); */
}

.message-list .roomName {
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: white;
  background: black;
  /* display: inline-block; */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: -13px;
}

.active {
  /* background: #accbee; */
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: white !important
}

.active a {
  color: white !important;
}

.message-list .noMsg {
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: white;
  font-weight: bold;
  position: relative;
  top: 20%;
}
.send-message-form{
  margin: 0 15px 5px 10px;
}

.send-message-form input {
  width: 99%;
  height: 93%;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.send-message-form input::placeholder {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style: italic;
}

.new-group-form {
  margin: 0px 15px 0 5px;
}

.new-group-form input {
  width: 99%;
  height: 51px;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.new-group-form  input::placeholder {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style: italic;
}

.group {
  list-style: none;
  color: rebeccapurple;
  font-size: 18px;
  padding-bottom: 5px;
  /* display: inline-block; */
  text-align: left;
}

.group-list ul {
  padding-left: 10px;
}

.group a {
  color: rebeccapurple;
  text-decoration: none;
  cursor: pointer;
}

.emptyRoom {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: relative;
  top: 20%;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.arrow {
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: bold;
}

.messageTime {
  padding: 5px;
  /* background: red; */
  display: inline-block;
  border-radius: 12px;
  /* color: white; */
  font-style: italic;
}

.addNewGroupBtn {
  display: inline;
  position: relative;
  left: 65px;
  border-radius: 40%;
  background: whitesmoke;
  color: black;
  border: 0;
  cursor: pointer;
  font-weight: bold
}

.addNewGroupBtn:hover {
  display: inline;
  position: relative;
  left: 65px;
  border-radius: 40%;
  background: rebeccapurple;
  color: whitesmoke;
  border: 0;
  cursor: pointer;
  font-weight: bold
}

.copyrights {
  margin-top: 100px;
}

.roomUsers{
  width: 200px;
  height: 300px;
  display: inline-block;
  float: right;
  background: white;
  padding: 15px;
  margin-right: 10px;
  color: black;
  border-radius: 5px;
}

.roomUsers h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: underline
}

.roomUsers p {
  padding-left: 15px;
}

.roomUsers img {
    display: inline;
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
    padding-right: 5px;
}