.message-username {
  color: black;
  padding: 3px;
}

.message-text {
  padding: 5px;
  border-radius: 5px;
  background: blueviolet;
  color: #fff;
  margin-bottom: 3px;
  font-size: 1vw;
  display: inline-block;
}

.group-list {
  background: rgb(26, 23, 23);
  padding: 15px 0 0 5px; 
  color: white;
  margin-bottom: 10px;
  margin: 5px 0 5px 5px;
  border-radius: 3px;
}

.group-list .group-list-title {
  text-align: center;

}

.message-list {
  padding: 15px 0 0 15px;
  border: 1px solid #b0cdef;
  margin: 5px 10px 10px 10px;
  border-radius: 2px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll
  /* box-shadow: 20px 20px 2px 2px rgba(102, 51, 153, 0.418); */
}

.message-list .roomName {
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.active {
  background: #accbee;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: white !important
}

.active a {
  color: black !important;
}

.message-list .noMsg {
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold
}
.send-message-form{
  margin: 0 15px 5px 10px;
}

.send-message-form input {
  width: 99%;
  height: 93%;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
}

.send-message-form input::placeholder {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style: italic;
}

.new-group-form {
  margin: 0px 15px 0 5px;
}

.new-group-form input {
  width: 99%;
  height: 51px;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
}

.new-group-form  input::placeholder {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style: italic;
}

.group {
  list-style: none;
  color: rebeccapurple;
  font-size: 18px;
  padding-bottom: 5px;
  /* display: inline-block; */
  text-align: left;
}

.group-list ul {
  padding-left: 10px;
}

.group a {
  color: rebeccapurple;
  text-decoration: none;
  cursor: pointer;
}

.emptyRoom {
  text-align: center;
  font-size: 30px;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.arrow {
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: bold;
}