::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: blueviolet; 
  border-radius: 15px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.message-username {
  color: white;
  padding: 3px;
  font-size: 12px;
}

.message-text {
  padding: 5px;
  border-radius: 5px;
  background: black;
  color: #fff;
  margin-bottom: 3px;
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
}

.group-list {
  background: rgb(26, 23, 23);
  padding: 15px 0 0 5px;
  color: white;
  margin-bottom: 10px;
  margin: 5px 10px 5px 5px;
  border-radius: 3px;
  overflow: hidden;
  overflow-y: auto;
  
}

.groupTitle{
  cursor: pointer;
}

.authors {
  color: rgb(174, 143, 206) !important;
}

.authors:hover{
  color: rgb(201, 184, 218) !important
}
.brandName {
  font-family: "MyriadPro" !important;
  font-weight: 600;
  text-decoration: underline;
}
.group-list .group-list-title {
  text-align: center;

}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 300px;
  font-size: 20px;
  z-index: 83883;
  background: #000000ad;
}

.message-list {
  padding: 15px 0 0 0;
  margin: 5px 0px 5px 10px;
  border-radius: 2px;
  background: url("/bg_image.jpg");
  max-height: 50rem;
  overflow-y: auto;
  background-position: center;
}

.message-list .roomName {
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: white;
  background: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: -13px;
  font-family: 'Roboto Mono', monospace;
}

.h3, h3 {
  font-size: 18px !important;
  /* font-size: 1.75rem; */
}
button, input, optgroup, select, textarea {
  /* margin: 0; */
  /* font-family: inherit; */
  font-size: small !important;
  line-height: initial !important;
}
.active {
  display: block;
  border-radius: 2px;
  font-weight: 500;
  color: white !important;
  background: rebeccapurple;
}

.active a {
  color: white !important;
}

li {
  list-style: none !important;
}

.card-header {
  color: rgb(26, 23, 23);
}

.leaveRoomBtn {
  position: relative;
  bottom: 6px !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.message-list .noMsg {
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  position: relative;
  top: 20%;
  font-weight: 400;
  font-family: "MyriadPro" !important;
  padding-left: 80px;
}
.send-message-form{
  margin: 0 0 5px 10px;
}

.send-message-form input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
  font-family: "MyriadPro" !important;
}

.send-message-form input::placeholder {
  font-family: "MyriadPro" !important;
  color: white;
  font-style: italic;
}

.new-group-form {
  margin: 0px 10px 0 5px;
}

.new-group-form input {
  width: 100%;
  height: 55px;
  padding-left: 15px;
  background: rgb(26, 23, 23);
  color: white;
  border: 1px solid rgb(26, 23, 23);
  border-radius: 3px;
  font-family: "MyriadPro" !important;
}

.new-group-form  input::placeholder {
  font-family: "MyriadPro" !important;
  color: white;
  font-style: italic;
}

.group {
  list-style: none;
  color: rebeccapurple;
  font-size: 17px;
  /* display: inline-block; */
  text-align: left;
}

.group:hover, .group:hover a {
  background: rebeccapurple;
  color: white !important;
  cursor: pointer;
}

.group-list ul {
  padding-left: 10px;
}

.group a {
  color: rebeccapurple;
  text-decoration: none;
  cursor: pointer;
  font-family: "MyriadPro" !important;
}

.emptyRoom {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 400;
  position: relative;
  top: 20%;
  font-family: "MyriadPro" !important;
}

@keyframes displayblock {
  0% {
      opacity: 0;
    
  }
  100% {
      opacity: 1;
     
  }
}

.block {
  display: block !important;
  animation: displayblock .5s;
  
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s 1s, opacity 1s linear !important;
}

.modal {
  background: #000000a6 !important;
  transition: visibility 0s 1s, opacity 1s linear !important;
}

.arrow {
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: bold;
}

.messageTime {
  padding: 5px;
  /* background: red; */
  display: inline-block;
  border-radius: 12px;
  /* color: white; */
  font-style: italic;
}

.addNewGroupBtn {
  display: inline;
  position: relative;
  left: 55px;
  border-radius: 40%;
  background: whitesmoke;
  color: black;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.addNewGroupBtn:hover {
  background: rebeccapurple;
  color: whitesmoke;
}

.copyrights {
  margin-top: 100px;
}

a:hover {
  color: white !important;
  text-decoration: none !important;

}

.fa-user-circle{
  padding-right: 5px;
}

.fa {
  font-size: 12px !important;
  position: relative !important;
  bottom: 1px !important;
}

.roomUsers{
  width: 200px;
  height: 300px;
  display: inline-block;
  float: right;
  background: white;
  padding: 5px;
  margin-right: 10px;
  color: black;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif !important;

}

.roomUsers h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: underline
}

.roomUsers p {
  padding-left: 10px;
  font-size: 15px;
}

.roomUsers img {
    display: inline;
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.userName {
  text-align: center; 
  background: rebeccapurple; 
  padding: 15px; 
  border-radius: 5px; 
  margin-right: 10px;
  font-family: "MyriadPro" !important;
  font-weight: 500;
  margin-bottom: 20px;
}

.deleteBtn {
  background: red;
  border: none;
  border-radius: 15%;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.deleteBtn:hover {
  background: rgb(15, 2, 27);
  color: white;
}

.noGroup {
  text-align: center;
  font-size: 13px;
  margin-right: 10px
}

.addNewGroupBtnB{
  border: none;
    padding: 15px;
    background: rebeccapurple;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer
}

.confBtn {
    display: inline-block !important;
    margin-right: 13px !important;
    border: none !important;
    border-radius: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

.success-msg {
  bottom: 0px !important;
  position: absolute !important;
  right: 10px !important;
}

.login-page {
  background-image: url('/bg_image.jpg');
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-position: center;

}

.card-login {
  width: 400px;
  padding-top: 160px;
  margin: auto;
  position: relative;
}
.card-login label{
  font-size: 40px;
  color: white;
  margin-bottom: 8px !important;
  font-family: "MyriadPro" !important;
}

.card-login input{
  border-radius: 0;
    border: 1px solid white;
    height: 45px;
    background: transparent;
    color: white;
    font-size: 17px !important;
    font-family: 'Roboto Mono', monospace;
}

.card-login input:focus{
  border-radius: 0;
    border: 1px solid white;
    height: 45px;
    background: transparent;
    color: white;
    font-size: 17px !important;
    box-shadow: none;
    font-family: 'Roboto Mono', monospace;
}

.card-login input::placeholder{
    background: transparent;
    color: rgba(255, 255, 255, 0.541);
    font-size: 17px !important;
    box-shadow: none;
    font-family: 'Roboto Mono', monospace;
}

.fa-sign-in{
  font-size: 35px !important;
    position: relative;
    top: 2px;
    left: 5px;
}

.brandLogin{
    font-size: 40px;
    color: white;
    padding-left: 40px;
    padding-top: 15px;
    font-family: "MyriadPro" !important;
}

.loginCopy {
    position: absolute;
    bottom: 20px;
    color: white;
    right: 15px;
    font-family: "MyriadPro" !important;
}

.fa-sign-out {
    font-size: 15px !important;
    position: relative !important;
    cursor: pointer;
    bottom: 10px !important;
}